{% extends 'base.html.twig' %}

{% block title %}New Person{% endblock %}

{% block body %}
<div class="container-xl bg-light p-5 border-top">
    <h1>Ajouter un Acteur ou une Actrice</h1>

    <a type="button" href="{{ path('app_back_person_index') }}"><span class="badge bg-warning text-dark fs-6 mx-2 my-2"> Retour à la liste </span></a>

    {{ include('back/person/_form.html.twig') }}
</div>
{% endblock %}
